<div>
    <div class="has-text-centered">
      <img src="../assets/logo.png" width="120px" alt="" srcset="" />
    </div>
    <article class="panel box p-0 mt-4 mx-3">
      <a
        class="panel-block py-3 px-5"
        routerLink="/dashboard/{{ email }}" 
        routerLinkActive="active"
      >
        <span class="panel-icon">
          <i class="is-link-primary mdi mdi-bank" aria-hidden="true"></i>
        </span>
        Tableau de bord
      </a>
      <a
        class="panel-block py-3 px-5"
        routerLink="/dashboard/{{ email }}/rapport"
      >
        <span class="panel-icon">
          <i
            class="is-link-primary mdi mdi-book-plus-outline"
            aria-hidden="true"
          ></i>
        </span>
        Rapport journalier
      </a>
      <a
        class="panel-block py-3 px-5" (click)="logout()"
      >
        <span class="panel-icon">
          <i class="is-link-primary mdi mdi-logout" aria-hidden="true"></i>
        </span>
        Deconnexion
      </a>
    </article>
  </div>